# ============================================================
#  VoidBot - Çevre Değişkenleri (.env)
# ============================================================

BOT_TOKEN=your_discord_bot_token

# ==================== MYSQL VERİTABANI ====================
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=your_bot_database_name

# ==================== REDIS CACHE ====================
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=1

# ======================== APP ========================
LOG_LEVEL=all  # ALL / OK / INFO / ERROR / WARNING / NONE